<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/default_layout}" lang="en">
<head>
  <title>캐릭터 조회</title>
</head>
<th:block layout:fragment="content" th:with="title='캐릭터조회'">
  <section>
    <div class="max-w-screen-xl px-4 py-8 mx-auto sm:px-6 sm:py-12 lg:px-8">

      <ul class="grid gap-4 mt-8 sm:grid-cols-2 lg:grid-cols-4">
        <li th:each="character: ${characterList}">
          <a th:href="@{/search/character(imgUrl=${character.imgUrl})}"
             class="block overflow-hidden group">
            <img
                th:src="${character.imgUrl}"
                alt="캐릭터이미지"
                class="h-[350px] w-full object-cover transition duration-500 group-hover:scale-105 sm:h-[450px]"
            />

            <div class="relative pt-3 bg-white">
              <h3
                  class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4"
                  th:text="${character.jobGrowName}"
              >
                직업명
              </h3>
              <h3 th:text="${character.serverId.getKorName()}"
                  class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4"
              >
                서버명
              </h3>
              <p class="mt-2">
                <span class="sr-only"> Regular Price </span>

                <span class="tracking-wider text-gray-500" th:text="${character.characterName}"> 캐릭터명  </span>
              </p>
              <p class="mt-2">
                <span class="sr-only"> Regular Price </span>

                <span class="tracking-wider text-gray-500" th:text="${character.fame}"> 명성 </span>
              </p>
              <p class="mt-2">
                <span class="sr-only"> Regular Price </span>

                <span class="tracking-wider text-gray-500" th:text="${character.level}"> 레벨 </span>
              </p>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </section>
</th:block>
</html>