<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/default_layout}" lang="en">
<head>
  <title>DunSee</title>
  <style>
    .field-error {
      border-color: #dc3545;
      color: #dc3545;
    }
  </style>
</head>
<th:block layout:fragment="content">
  <section class="bg-[url('/images/background/index/dangin_dnf.jpg')]">
    <div
        class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center backdrop-blur-sm"
    >
      <div class="mx-auto max-w-xl text-center">
        <h1 class="text-3xl font-extrabold sm:text-5xl">
          D&F 캐릭터 조회서비스
          <strong class="font-extrabold text-red-700 sm:block">
            DunSee
          </strong>
        </h1>

        <p class="mt-4 sm:text-xl/relaxed">
          검색창에 캐릭터명을 입력해주세요!
        </p>
        <form th:action="@{/search/list}" th:object="${searchKeyword}" method="get">
          <div class="mx-auto max-w-xl text-center grid lg:grid-cols-10 lg:gap-8">
            <div class="lg:col-span-3">
              <label for="serverId"></label>
              <select th:field="*{serverId}" id="serverId"
                      class="mt-1.5 w-full rounded-lg border-gray-300 text-gray-700 sm:text-sm">
                <option th:each="server:${servers}" th:value="${server.engName}" th:text="${server.korName}">전체</option>
              </select>
            </div>
            <div class="lg:col-span-7 mt-4 lg:mt-0">
              <div class="relative">
                <label for="characterName" class="sr-only"> Search </label>

                <input
                    type="text"
                    id="characterName"
                    th:field="*{characterName}"
                    th:errorclass="field-error"
                    placeholder="Search for..."
                    class="w-full rounded-md border-gray-200 py-2.5 pe-10 shadow-sm sm:text-sm"
                />
                <div class="field-error" th:errors="*{characterName}">상품명 오류</div>
                <span class="absolute inset-y-0 end-0 grid w-10 place-content-center">
          <button type="button" class="text-gray-600 hover:text-gray-700">
          <span class="sr-only">Search</span>

          <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-4 w-4"
          >
        <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
        />
      </svg>
    </button>
  </span>
              </div>
              <span class="mt-8 flex flex-wrap justify-center">
                <button
                    class="block w-full rounded bg-red-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-red-700 focus:outline-none focus:ring active:bg-red-500 sm:w-auto"

                >검색하기
                </button>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</th:block>
</html>

